/* God I hate Microsoft! */
#header #cart {
	width: 400px;
}
#header #cart .heading {
	position: relative;
	right: 172px;
	margin-right: 0px;
}
#header #cart .content {
	
}
#header #search {
	position: inherit;
	float: right;
}
#header .button-search {
	top: 1px;
}
#header #search input {
	padding: 1px 1px 1px 33px;
	height: 19px;
}
/* menu */
#menu ul li {
	position: relative;
}
#menu ul li div {
	z-index: 5;
}
#menu ul li.active div {
	display: block;
}
.success, .warning, .attention, .information {
	position: relative;
}
.success .close, .warning .close, .attention .close, .information .close {
	position: absolute;
	right: 10px;
}
.box-product > div {
	display: inline;
}
.product-grid > div {
	display: inline;
}
/* button */
.prduct-info a.button span {
	line-height: 12px;
	display: block;
}
.product-info .related-product .jcarousel-skin-opencart .jcarousel-item .product .cart .button span{padding: 6px 12px 8px 7px; font-weight:bold}
.htabs a.selected span{padding: 6px 12px 8px 7px; font-weight:bold}

.welcome0 p span {font-weight:bold}
#header .header-right #cart .heading{padding:6px 9px 9px 2px}
#search-form #search-form-bot input{padding:4px 3px 3px 3px !important}
#header #search ul li a{background: url("../image/quickacc_02.png") no-repeat -63px -2px;}
.tab-content input{padding:3px}


